$colorbot:white;
*{
    box-sizing: border-box;
}
body {
    color: $colorbot;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    justify-content:space-around;
    flex-direction: row;
    background-image:linear-gradient(limegreen, lightblue);
    background-repeat: no-repeat;
    position: relative;
    .image {
        background-image: url("../img/poulet_soba.jpg");
        background-size: cover;
        width: 100%;
        margin:0;
        padding: 250px 0;
        content {
        font-size: 30px;
        }
        .display-4{
            
            font-size: 30px;
            color: brown;
            }
            .lead{
                font-size:25px;
                color: brown;
            }
        }
        .footer{
            line-height: 0.5;
            bottom: 0;
        }          
}      