$colorbot:whitesmoke;
*{
    box-sizing: border-box;
}
body {
    color: $colorbot;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    justify-content:space-around;
    flex-direction: row;
    background-color: crimson;
    background-repeat: no-repeat;
    position: relative;
    font-family: 'Lobster', cursive;
    a {
        color:$colorbot;
        text-decoration:none;
        list-style: none;
    }
    
   .index {
        background-image: url(../img/jumbotron.png);
        background-size: cover;
        height: 100%;
        width: 100%;
        margin:0;
        .display-4{
            
            color:$colorbot;
            }
            .lead{
                color:$colorbot;
            }
        }
    figure{
        padding: 0;
        margin: 0;
    }
    .contact{
        background-image: url(../img/contact.png);
        background-size: cover;
        height: 100%;
        width: 100%;
        margin:0;
        .display-4{
            
            color:$colorbot;
            }
            .lead{
                color:$colorbot;
            }
        }
        .image {
            background-image: url("../img/poulet_soba.jpg");
            background-size: cover;
            width: 100%;
            margin:0;
            padding: 250px 0;
        }
        .carousel-content {
            position: absolute;
            bottom: 10%;
            left: 5%;
            z-index: 20;
            color: white;
            font-size: 26px;
            text-shadow: 0 2px 2px rgba(0,0,0,.6);
            
          }
        .events{
           color: black;
           padding:0;
        }  

        .footer{
            line-height: 0.5;
            bottom: 0;
        }          
}      

