$colorbot:white;
*{
    box-sizing: border-box;
}
body {
    color: $colorbot;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    justify-content:space-around;
    flex-direction: row;
    background-image:linear-gradient(limegreen, lightblue);
    background-repeat: no-repeat;
    position: relative;
    a {
        color:$colorbot;
        text-decoration:none;
        list-style: none;
    }
    
    .jumbotron {
        background-image: url("../img/sushi.jpg");
        text-align: center;
        background-size: 100%;
        background-repeat: no-repeat;
        height: 50vh;
        width: 100%;
        margin:0;
        .display-4{
            
            font-size: 18px;
            color: brown;
            }
            .lead{
                font-size:16px;
                color: brown;
            }
        }

        .carousel-content {
            position: absolute;
            bottom: 10%;
            left: 5%;
            z-index: 20;
            color: white;
            font-size: 26px;
            text-shadow: 0 2px 2px rgba(0,0,0,.6);
            
          }
        .events{
           color: black;
        }  

        .footer{
            line-height: 0.5;
            bottom: 0;
        }          
}      


