* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-image: -webkit-gradient(linear, left top, left bottom, from(limegreen), to(lightblue));
  background-image: -webkit-linear-gradient(limegreen, lightblue);
  background-image: -o-linear-gradient(limegreen, lightblue);
  background-image: linear-gradient(limegreen, lightblue);
  background-repeat: no-repeat; }
  body .jumbotron {
    background-image: url("../img/sushi.jpg"); }
  body h1 {
    font-size: 18px;
    color: brown; }
  body .lead {
    text-align: center;
    font-size: 16px;
    color: brown; }
  body p {
    font-size: 16px;
    color: brown; }
    body p a {
      color: white; }
